@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section id="about">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h1>A Theme for Creatives &amp; Agencies</h1>
                <p>Vitality is the perfect theme for a freelance professional or an agency.</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row text-center content-row">
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <div class="about-content">
                    <i class="fa fa-eye fa-4x"></i>
                    <h3>Retina Ready</h3>
                    <p>This theme includes the retina.js plugin for easy retina image support so your images and graphics will look great on mobile devices!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <div class="about-content">
                    <i class="fa fa-edit fa-4x"></i>
                    <h3>Easy to Edit</h3>
                    <p>Vitality is built using Bootstrap 3, and is easy to edit and customize. LESS files are included as well for deeper customization.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                <div class="about-content">
                    <i class="fa fa-tablet fa-4x"></i>
                    <h3>Responsive</h3>
                    <p>When building this theme, we've paid close attention to how it looks on various screen sizes. Try it out on a phone or tablet!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".8s">
                <div class="about-content">
                    <i class="fa fa-heart fa-4x"></i>
                    <h3>Built with Love</h3>
                    <p>All of our themes are crafted with care, and we strive to make your experience as one of our customers the best as possible.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray">
    <div class="container text-center wow fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Team</h2>
                <p>We are a group of digital marketers with a passion for great art that serves a practical purpose.</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-12">
                <div class="about-carousel">
                    <div class="item">
                        <img src="~/images/agency/1.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3>Patricia West</h3>
                            <hr class="colored">
                            <p>Marketing Director</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/images/agency/2.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3>Howard Scott</h3>
                            <hr class="colored">
                            <p>Sales Manager</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/images/agency/3.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3>Kate Williams</h3>
                            <hr class="colored">
                            <p>Creative Director</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/images/agency/people/4.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3>Amy Vanderbute</h3>
                            <hr class="colored">
                            <p>Graphic Artist</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/images/agency/5.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3>Jeremy Davidson</h3>
                            <hr class="colored">
                            <p>Web Developer</p>
                            <ul class="list-inline social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-github fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="cta-quote" style="background-image: url('~/images/agency/bg-aside.jpg');">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote">Good <span class="text-primary">design</span> is finding that perfect balance between the way something <span class="text-primary">looks</span> and how it <span class="text-primary">functions</span>.</span>
                <hr class=" colored">
                <a class="btn btn-outline-light page-scroll" href="#contact">Let's Find It</a>
            </div>
        </div>
    </div>
</aside>