
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<header style="background-image: url('../../wwwroot/images/agency/demo/bgheader.jpg');">
    <div class="intro-content">
        <img src="~/images/agency/profile.png" class="img-responsive img-centered" alt="">
        <div class="brand-name">Vitality</div>
        <hr class="colored">
        <div class="brand-name-subtext">by Start Bootstrap</div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
</header>